In [1]:
# importing libraries

import pandas as pd

import scipy.stats as stats
from scipy.stats import ttest_ind

In [3]:
# loading datasets

data = pd.read_csv('C:\\Users\\Admin\\Internshala\\TwoSample_dataset.csv')

In [4]:
print(data)

    Hauz Khas  Defence Colony
0         180             220
1         100             200
2         120             240
3         220             180
4         160             160
5         100             260
6         140             280
7         260             300
8         240             240
9         260             220
10        180             260
11        160             160
12        200             180
13        120             220

In [5]:
# print top 5 rows

data.head()

   Hauz Khas  Defence Colony
0        180             220
1        100             200
2        120             240
3        220             180
4        160             160

In [6]:
# calculating the t-statistics and p-value using two sample t-test

t_statistic, p_value = ttest_ind(data['Hauz Khas'], data['Defence Colony'][0:14], equal_var = False)

In [7]:
print(p_value)

0.016649998684395588

As the p_value is less than 0.05 , we can reject the null hypothesis.