In [1]:
# importing library

import pandas as pd

In [2]:
# loading dataset

data = pd.read_csv('C:\\Users\\Admin\\Internshala\\Variance_dataset.csv')

In [3]:
# printing top 5 rows

data.head()

   Student  Overall Marks Gender    Subject
0    Anish           9700   Male    English
1  Rishabh             83   Male    English
2     Ajay             78   Male    Physics
3  Abhinav             86   Male  Chemistry
4   Anurag             91   Male    English

In [4]:
# Steps to calculate the variance

# 1. Calculate the mean
# 2. Calculate the distance from mean for each element
# 3. Calculate Squared distance
# 4. Take Avarage of Squared distance.

In [19]:
# Calculate the mean by using mean() function.

mean_data = data['Overall Marks'].mean()

In [20]:
print(mean_data)

164.24

In [22]:
# Calculate the distance from the mean i.e. difference

difference_data = data['Overall Marks'] - mean_data

In [23]:
print(difference_data)

0     9535.76
1      -81.24
2      -86.24
3      -78.24
4      -73.24
       ...
95     -87.24
96    -109.24
97    -157.24
98     -91.24
99     -82.24
Name: Overall Marks, Length: 100, dtype: float64

In [24]:
# Calculate the squared difference

squared_difference_data = difference_data ** 2

In [25]:
print(squared_difference_data)

0     9.093072e+07
1     6.599938e+03
2     7.437338e+03
3     6.121498e+03
4     5.364098e+03
          ...
95    7.610818e+03
96    1.193338e+04
97    2.472442e+04
98    8.324738e+03
99    6.763418e+03
Name: Overall Marks, Length: 100, dtype: float64

In [27]:
# calculate the variance

variance = squared_difference_data.mean()

In [28]:
print(variance)

919170.8423999996

In [29]:
# Another method to calculate the Variance

var_data = data['Overall Marks'].var(ddof = 0)

In [30]:
print(var_data)

919170.8423999996