In [4]:
# importing libraries

import pandas as pd

import scipy.stats as stats
from scipy.stats import ttest_rel

In [5]:
# loading datasets

data = pd.read_csv('C:\\Users\\Admin\\Internshala\\paired_Ttest_dataset.csv')

In [6]:
print(data)

    Errors using typewriter  Errors using a computer
0                         8                        8
1                        13                        8
2                        10                        4
3                         7                        9
4                        13                       10
5                        10                       10
6                        12                        4
7                         9                        5
8                         6                        7
9                         5                        9
10                        9                       12
11                        8                        7
12                       12                        6
13                       12                        9
14                        8                        7
15                        7                        9
16                       12                        6
17                       13                        7
18                       15                        4
19                       10                        7
20                        7                        5
21                       13                        6
22                        9                        6
23                       10                        6
24                        7                        6

In [7]:
# print top 5 rows

data.head()

   Errors using typewriter  Errors using a computer
0                        8                        8
1                       13                        8
2                       10                        4
3                        7                        9
4                       13                       10

In [9]:
# calculating the t-statistics and p-value using scipy library

t_statistic, p_value = stats.ttest_rel(data['Errors using typewriter'], data['Errors using a computer'])

In [10]:
# printing p value

p_value

0.0011653976281601139

As the p_value is less than 0.05 , we can reject the null hypothesis (Mean error from typewriter = Mean error from computer)