NOTE: Here we are using the clean version of the titanic dataset.

Difference between the clean dataset and row dataset is that the clean dataset doesn't have any missing values, If the raw dataset had any strings, they have been converted into the numbers through label and coding. Here we can see Pclass_1, Pclass_2 and Pclass_3 columns are separated, even we can see here sex variable in different columns like sex_female and sex_male and so on.

This dataset contains both independent and dependent variable.

In [25]:
# importing libraries 

import pandas as pd 
import numpy as np

In [26]:
# Loading the dataset

data = pd.read_csv('C:\\Users\\Admin\\Internshala\\data_cleaned_Decision_Tree.csv')

In [27]:
# check the dimension of the dataset

data.shape

(891, 25)

In [28]:
# check the top 5 columns

data.head()

,Survived,Age,Fare,Pclass_1,Pclass_2,Pclass_3,Sex_female,Sex_male,SibSp_0,SibSp_1,...,Parch_0,Parch_1,Parch_2,Parch_3,Parch_4,Parch_5,Parch_6,Embarked_C,Embarked_Q,Embarked_S
0,0,22.0,7.2500,0,0,1,0,1,0,1,...,1,0,0,0,0,0,0,0,0,1
1,1,38.0,71.2833,1,0,0,1,0,0,1,...,1,0,0,0,0,0,0,1,0,0
2,1,26.0,7.9250,0,0,1,1,0,1,0,...,1,0,0,0,0,0,0,0,0,1
3,1,35.0,53.1000,1,0,0,1,0,0,1,...,1,0,0,0,0,0,0,0,0,1
4,0,35.0,8.0500,0,0,1,0,1,1,0,...,1,0,0,0,0,0,0,0,0,1

In [29]:
#seperating independent and dependent variables

x = data.drop(['Survived'], axis=1)

y = data['Survived']

NOTE: Survived is the dependent variable, Here we are dropping the Survived variable from the x which contains the independent variables.

x contains all the independent variables, and y contains the target variable.

* For the purpose of modeling generally we require the two files, one is the train file, another is the test file.
* But here we have a single dataframe/ dataset, split this dataset into the train dataset and test dataset.
* For the purpose of splitting we are using a module called model_selection, and from this module we are using the train_test_split function.

In [30]:
# importing a module

from sklearn.model_selection import train_test_split

In [31]:
train_x,test_x,train_y,test_y = train_test_split(x, y, random_state = 101, stratify = y)

In [32]:
train_x,test_x,train_y,test_y

(           Age      Fare  Pclass_1  Pclass_2  Pclass_3  Sex_female  Sex_male  \
 117  29.000000   21.0000         0         1         0           0         1
 884  25.000000    7.0500         0         0         1           0         1
 60   22.000000    7.2292         0         0         1           0         1
 487  58.000000   29.7000         1         0         0           0         1
 485  29.699118   25.4667         0         0         1           1         0
 ..         ...       ...       ...       ...       ...         ...       ...
 353  25.000000   17.8000         0         0         1           0         1
 137  37.000000   53.1000         1         0         0           0         1
 494  21.000000    8.0500         0         0         1           0         1
 269  35.000000  135.6333         1         0         0           1         0
 298  29.699118   30.5000         1         0         0           0         1

      SibSp_0  SibSp_1  SibSp_2  ...  Parch_0  Parch_1  Parch_2  Parch_3  \
 117        0        1        0  ...        1        0        0        0
 884        1        0        0  ...        1        0        0        0
 60         1        0        0  ...        1        0        0        0
 487        1        0        0  ...        1        0        0        0
 485        0        0        0  ...        0        1        0        0
 ..       ...      ...      ...  ...      ...      ...      ...      ...
 353        0        1        0  ...        1        0        0        0
 137        0        1        0  ...        1        0        0        0
 494        1        0        0  ...        1        0        0        0
 269        1        0        0  ...        1        0        0        0
 298        1        0        0  ...        1        0        0        0

      Parch_4  Parch_5  Parch_6  Embarked_C  Embarked_Q  Embarked_S
 117        0        0        0           0           0           1
 884        0        0        0           0           0           1
 60         0        0        0           1           0           0
 487        0        0        0           1           0           0
 485        0        0        0           0           0           1
 ..       ...      ...      ...         ...         ...         ...
 353        0        0        0           0           0           1
 137        0        0        0           0           0           1
 494        0        0        0           0           0           1
 269        0        0        0           0           0           1
 298        0        0        0           0           0           1

 [668 rows x 24 columns],
            Age      Fare  Pclass_1  Pclass_2  Pclass_3  Sex_female  Sex_male  \
 374   3.000000   21.0750         0         0         1           1         0
 413  29.699118    0.0000         0         1         0           0         1
 83   28.000000   47.1000         1         0         0           0         1
 85   33.000000   15.8500         0         0         1           1         0
 345  24.000000   13.0000         0         1         0           1         0
 ..         ...       ...       ...       ...       ...         ...       ...
 740  29.699118   30.0000         1         0         0           0         1
 175  18.000000    7.8542         0         0         1           0         1
 689  15.000000  211.3375         1         0         0           1         0
 151  22.000000   66.6000         1         0         0           1         0
 314  43.000000   26.2500         0         1         0           0         1

      SibSp_0  SibSp_1  SibSp_2  ...  Parch_0  Parch_1  Parch_2  Parch_3  \
 374        0        0        0  ...        0        1        0        0
 413        1        0        0  ...        1        0        0        0
 83         1        0        0  ...        1        0        0        0
 85         0        0        0  ...        1        0        0        0
 345        1        0        0  ...        1        0        0        0
 ..       ...      ...      ...  ...      ...      ...      ...      ...
 740        1        0        0  ...        1        0        0        0
 175        0        1        0  ...        0        1        0        0
 689        1        0        0  ...        0        1        0        0
 151        0        1        0  ...        1        0        0        0
 314        0        1        0  ...        0        1        0        0

      Parch_4  Parch_5  Parch_6  Embarked_C  Embarked_Q  Embarked_S
 374        0        0        0           0           0           1
 413        0        0        0           0           0           1
 83         0        0        0           0           0           1
 85         0        0        0           0           0           1
 345        0        0        0           0           0           1
 ..       ...      ...      ...         ...         ...         ...
 740        0        0        0           0           0           1
 175        0        0        0           0           0           1
 689        0        0        0           0           0           1
 151        0        0        0           0           0           1
 314        0        0        0           0           0           1

 [223 rows x 24 columns],
 117    0
 884    0
 60     0
 487    0
 485    0
       ..
 353    0
 137    0
 494    0
 269    1
 298    1
 Name: Survived, Length: 668, dtype: int64,
 374    0
 413    0
 83     0
 85     1
 345    1
       ..
 740    1
 175    0
 689    1
 151    1
 314    0
 Name: Survived, Length: 223, dtype: int64)

In [33]:
# If we want to check the proportion of 0's and 1's in train and test both.

In [34]:
train_y.value_counts()/len(train_y)

0    0.616766
1    0.383234
Name: Survived, dtype: float64

In [35]:
test_y.value_counts()/len(test_y)

0    0.61435
1    0.38565
Name: Survived, dtype: float64

This is generally done to make the test is very similar to the train. So that whatever performance we have on train is limited on test.

We will be training our model on train_x and train_y, and will be predicted on test_x, later we will be checking the performance against test_y which are the actual values.

In [36]:
#importing decision tree classifier 

from sklearn.tree import DecisionTreeClassifier

we follow the usually 3 steps:
  1. First we create an object
  2. Then we use the fit() function
  3. Then we use the predict() function.

In [38]:
# creating an object with default parameters.
# If you want to see the default parameters, you can press shift+tab inside the () brackets.

clf = DecisionTreeClassifier()

In [39]:
# fit() function requires the independet and dependent variables.
# x_train is the independent variable, and y_train is the target variable.

clf.fit(train_x,train_y)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [40]:
# use score() function to check the performance of the accuracy of the model on a train dataset.
# score() function takes the independet and dependent variables.

clf.score(train_x, train_y)

0.9880239520958084

In [41]:
# checking an accuracy on a test dataset.

clf.score(test_x, test_y)

0.7623318385650224

NOTE: test_x takes the independent variables, calculate some predictions, and matches those predictions with test_y values.

Here we can see our performance is not good on test dataset, we need to change some parameters, like max_depth, min_samples_split, etc. these are the main parameters.

In [45]:
# prediction on train_x

clf.predict(train_x)

array([0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1,
       1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1,
       1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 0,
       1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0,
       1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0,
       0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0,
       0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0,
       1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0,
       1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1,
       1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1,
       1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1,
       0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1,
       1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0,
       1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1,
       0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0,
       0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1,
       1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0,
       0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0,
       1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0,
       1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1,
       0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1,
       1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1,
       0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 1, 1, 0, 0, 0, 1, 1], dtype=int64)

In [47]:
# prediction on test_x

clf.predict(test_x)

array([1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1,
       1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1,
       0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0,
       1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0,
       0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0,
       0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0,
       0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0,
       1, 1, 0], dtype=int64)