# Logistic Regression for Classification Problems

In [78]:
#importing required libraries

import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
%matplotlib inline

In [79]:
# read the dataset

data = pd.read_csv("C:\\Users\\Admin\\Internshala\\titanic_dataset_Logistic_Regression.csv")

In [80]:
# reading top 5 rows

data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [81]:
data['Survived'].value_counts()

0    549
1    342
Name: Survived, dtype: int64

In [82]:
# perform dummification, creating the numeric features out of the categorical features in the titanic dataset 

data = pd.get_dummies(data)

In [83]:
data.head()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare,"Name_Abbing, Mr. Anthony","Name_Abbott, Mr. Rossmore Edward","Name_Abbott, Mrs. Stanton (Rosa Hunt)",...,Cabin_F G73,Cabin_F2,Cabin_F33,Cabin_F38,Cabin_F4,Cabin_G6,Cabin_T,Embarked_C,Embarked_Q,Embarked_S
0,1,0,3,22.0,1,0,7.2500,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,2,1,1,38.0,1,0,71.2833,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,3,1,3,26.0,0,0,7.9250,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,4,1,1,35.0,1,0,53.1000,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,5,0,3,35.0,0,0,8.0500,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [84]:
# imputed the missing values with zeroes

data.fillna(0,inplace=True)

In [85]:
data.shape

(891, 1731)

NOTE: Dividing the dataset into two parts, one is train dataset and another is test dataset

In [86]:
# making the train dataset

train = data[0:699]

In [87]:
# making the test dataset

test = data[700:890]

In [88]:
# x_train contains only the features required for a model.

x_train = train.drop('Survived', axis=1)

In [89]:
# y_train contains the target variable.

y_train = train['Survived']

NOTE: Together x_train and y_train forms the data that will required to train a logistic regression.

In [90]:
# x_test contains the independent features that will be using to make predictions.

x_test = test.drop('Survived', axis = 1)

In [91]:
# true_p are the correct values for the test dataset.

true_p = test['Survived']

In [92]:
# importing library

from sklearn.linear_model import LogisticRegression

In [93]:
# creating an object of LogisticRegression as logreg

logreg = LogisticRegression()

In [94]:
# fit() function is used to fit the model

logreg.fit(x_train,y_train)

C:\Users\Admin\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

Note: Now we can see it is successfully fit a model.

In [95]:
# Once we fitted our model, the next step is to predict our model.
# Now predict on the dataset.

pred = logreg.predict(x_test)

In [96]:
pred

array([1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0,
       0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1,
       1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0,
       0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0,
       0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1,
       1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1,
       0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1], dtype=int64)

Note: Here we got an output in 1,0 since it is a classification problem, and this is what we expect.

In [97]:
# check the accuracy of model by using the score() function

logreg.score(x_test,true_p)

0.8052631578947368

Note: Accuracy over the test dataset

In [98]:
logreg.score(x_train,y_train)

0.8054363376251789

Note: Accuracy over the train dataset.

Test sample might not be a represented the train sample. Making the test samples represented of train is an entirely a different concept called Validation