In [3]:
for i in range(2.0):
    print(i)

TypeError: 'float' object cannot be interpreted as an integer

Note: range only takes integer input, 2.0 is a float number, so it gives an error.

In [4]:
for i in '':
    print(i)

Note: Since there is no range, nothing will come as output.

Problem 1: Write a for loop to print all the numbers between 10 and 50.

In [5]:
for i in range(10,50):
    print(i)

10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49

In [6]:
for i in range(11,50):
    print(i)

11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49

Problem 2: Write a for loop to print all the odd numbers between 10 and 50.

In [7]:
for i in range(11,50,2):
    print(i)

11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49

Problem 3: What is output of following code snippet?

In [8]:
for i in range(11,15,3):
    print(i)

11
14

Problem odd numbers between 1 to 99.

In [9]:
for i in range(1,100,2):
    print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [10]:
for i in range(1,101,2):
    print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99