#  Creating a list

In [3]:
# Single Data Type --- integer type list

marks = [1,2,3,4,5,6,7,8,9,10]

In [4]:
marks

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [5]:
# Single Data Type --- string type list

names = ['misti','jitu','ambi','chandu']

In [6]:
names

['misti', 'jitu', 'ambi', 'chandu']

In [7]:
# Mix Data Type

list3 = [1,'Python',2,'is',3,'Awesome']

In [8]:
list3

[1, 'Python', 2, 'is', 3, 'Awesome']

# Accessing the elements of a list / sub-setting a list

In [13]:
# Extract the single element

marks[1]

2

In [14]:
list3[2]

2

In [15]:
list3[5]

'Awesome'

In [16]:
marks[7]

8

In [17]:
# Extract the sequence of elements / Slicing

list3[0:4]

[1, 'Python', 2, 'is']

In [19]:
list3[:]

[1, 'Python', 2, 'is', 3, 'Awesome']

In [20]:
list3[0:]

[1, 'Python', 2, 'is', 3, 'Awesome']

In [21]:
list3[:6]

[1, 'Python', 2, 'is', 3, 'Awesome']

In [22]:
marks[:]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [23]:
marks[:5]

[1, 2, 3, 4, 5]

In [24]:
marks[4:10]

[5, 6, 7, 8, 9, 10]

In [26]:
myList = [1,2,3,4,5,6,7,8,9,10]
myList[4:9]

[5, 6, 7, 8, 9]

In [28]:
# Extract the element using negative index

list3[-1]

'Awesome'

In [29]:
list3[-3]

'is'

In [30]:
marks[-7]

4

In [31]:
myList[-3]

8

In [32]:
myList[-9]

2

In [33]:
myList[-3:-8]

[]

In [34]:
myList[-8:-3]

[3, 4, 5, 6, 7]

# Adding elements to an existing list

In [70]:
list3 = [1,'Python',2,'is',3,'Awesome']

marks = [1,2,3,4,5,6,7,8,9,10]

In [71]:
list3

[1, 'Python', 2, 'is', 3, 'Awesome']

In [72]:
marks

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [73]:
# Adding a single element
list3.append(4)

In [74]:
list3

[1, 'Python', 2, 'is', 3, 'Awesome', 4]

In [75]:
list3.append([4])

In [76]:
list3

[1, 'Python', 2, 'is', 3, 'Awesome', 4, [4]]

In [77]:
#Adding list to a alist 
list3.append([4,5,6])

In [78]:
list3

[1, 'Python', 2, 'is', 3, 'Awesome', 4, [4], [4, 5, 6]]

In [79]:
list3 = [1,'Python',2,'is',3,'Awesome']
list3.append(4)
list3

[1, 'Python', 2, 'is', 3, 'Awesome', 4]

In [80]:
marks.append(11)
marks

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [81]:
# Adding a multiple elements

marks.extend([13,14,15,16])

In [82]:
marks

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13, 14, 15, 16]

In [85]:
list3.extend([5,7,9])

In [86]:
list3

[1, 'Python', 2, 'is', 3, 'Awesome', 4, 5, 7, 9, 5, 7, 9]

In [91]:
# Adding list to a list

marks = [1,2,3,4,5,6,7]
marks.append([20,30,40,'abcd'])
marks

[1, 2, 3, 4, 5, 6, 7, [20, 30, 40, 'abcd']]

In [92]:
marks = [1,2,3,4,5,6,7]
marks.extend([20,30,40,'abcd'])
marks

[1, 2, 3, 4, 5, 6, 7, 20, 30, 40, 'abcd']

In [93]:
marks[9]

40

In [94]:
marks[10]

'abcd'

In [97]:
marks = [1,2,3,4,5,6,7]
marks.append([20,30,40,'abcd'])
marks

[1, 2, 3, 4, 5, 6, 7, [20, 30, 40, 'abcd']]

In [98]:
marks[7]

[20, 30, 40, 'abcd']

# Deleting the elements

In [99]:
# Deleting an element by value

marks = [1,2,3,4,5,6,7,8,9]
marks.remove(3)

In [100]:
marks

[1, 2, 4, 5, 6, 7, 8, 9]

In [101]:
marks.remove(9)

In [102]:
marks

[1, 2, 4, 5, 6, 7, 8]

In [103]:
# Deleting an element by index

marks = [1,2,3,4,5,6,7,8,9]
del marks[3]

In [104]:
marks

[1, 2, 3, 5, 6, 7, 8, 9]

In [105]:
del marks[8]

IndexError: list assignment index out of range

In [106]:
marks[7]

9

In [107]:
marks

[1, 2, 3, 5, 6, 7, 8, 9]

# Looping over a list

In [108]:
myList = [10,20,30,40,'m','j','a','c']

In [109]:
for i in myList:
    print(i)

10
20
30
40
m
j
a
c