# Creating a dictionary

In [10]:
dict1= {'Ramesh':150, 'Suresh':146, 'Sudesh':160}

In [11]:
dict1

{'Ramesh': 150, 'Suresh': 146, 'Sudesh': 160}

In [12]:
dict1

{'Ramesh': 150, 'Suresh': 146, 'Sudesh': 160}

In [13]:
dict2 = {'Ramesh':[150,46], 'Suresh':[146,58], 'Sudesh':[160,50]}

In [14]:
dict2

{'Ramesh': [150, 46], 'Suresh': [146, 58], 'Sudesh': [160, 50]}

In [15]:
marks = {'History': 46, 'Geography':54, 'Hindi':56}

In [16]:
marks

{'History': 46, 'Geography': 54, 'Hindi': 56}

# Accessing elements to a dictionary

In [17]:
dict2['Suresh']

[146, 58]

In [18]:
dict2[Ramesh]

NameError: name 'Ramesh' is not defined

In [19]:
dict2['Ramesh']

[150, 46]

In [20]:
# Through the index we can't access the dictionary
dict2[2]

KeyError: 2

In [21]:
dict1[0]

KeyError: 0

In [22]:
dict1['Sudesh']

160

In [23]:
marks['Geography']

54

In [24]:
marks['Hindi']

56

# Adding elements to a dictionary

In [29]:
# Adding a single element

dict2['Neeraj']=[176,75]

In [30]:
dict2

{'Ramesh': [150, 46],
 'Suresh': [146, 58],
 'Sudesh': [160, 50],
 'Neeraj': [176, 75],
 'jit': [13, 30]}

In [31]:
dict2['jit']=[13,30]

In [32]:
dict2

{'Ramesh': [150, 46],
 'Suresh': [146, 58],
 'Sudesh': [160, 50],
 'Neeraj': [176, 75],
 'jit': [13, 30]}

In [33]:
dict1['chandu']=[31,15]

In [34]:
dict1

{'Ramesh': 150, 'Suresh': 146, 'Sudesh': 160, 'chandu': [31, 15]}

In [35]:
dict1['ambi']=[31]

In [36]:
dict1

{'Ramesh': 150, 'Suresh': 146, 'Sudesh': 160, 'chandu': [31, 15], 'ambi': [31]}

In [37]:
marks['English']=47

In [38]:
marks

{'History': 46, 'Geography': 54, 'Hindi': 56, 'English': 47}

In [40]:
# Adding multiple elements at once

marks.update({'Marathi':60,'Kannada':62})

In [41]:
marks

{'History': 46,
 'Geography': 54,
 'Hindi': 56,
 'English': 47,
 'Marathi': 60,
 'Kannada': 62}

In [42]:
dict1.update({'Ravi':99,'Kiran':98})

In [43]:
dict1

{'Ramesh': 150,
 'Suresh': 146,
 'Sudesh': 160,
 'chandu': [31, 15],
 'ambi': [31],
 'Ravi': 99,
 'Kiran': 98}

In [44]:
dict2.update({'sonu':[87,76],'Anju':[56,94]})

In [45]:
dict2

{'Ramesh': [150, 46],
 'Suresh': [146, 58],
 'Sudesh': [160, 50],
 'Neeraj': [176, 75],
 'jit': [13, 30],
 'sonu': [87, 76],
 'Anju': [56, 94]}

# Deleting elements of a dictionary

In [46]:
del dict2['Ramesh']

In [47]:
dict2

{'Suresh': [146, 58],
 'Sudesh': [160, 50],
 'Neeraj': [176, 75],
 'jit': [13, 30],
 'sonu': [87, 76],
 'Anju': [56, 94]}

In [48]:
del dict2['jit']

In [49]:
dict2

{'Suresh': [146, 58],
 'Sudesh': [160, 50],
 'Neeraj': [176, 75],
 'sonu': [87, 76],
 'Anju': [56, 94]}

In [50]:
del dict1['Sudesh']
dict1

{'Ramesh': 150,
 'Suresh': 146,
 'chandu': [31, 15],
 'ambi': [31],
 'Ravi': 99,
 'Kiran': 98}

In [51]:
del marks['Kannada']

In [52]:
marks

{'History': 46, 'Geography': 54, 'Hindi': 56, 'English': 47, 'Marathi': 60}

In [55]:
# What is the output of following code?

a = dict()
dict[1]

TypeError: 'type' object is not subscriptable